# FMCG Products Analysis

## Pre-processing

In [74]:
import pandas as pd
import numpy as np
import string

In [75]:
df=pd.read_csv("Raw Sales Data.csv")

In [76]:
df.head(3)

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167"

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    object
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    object
 6   Sales         224 non-null    object
dtypes: object(7)
memory usage: 12.4+ KB

In [78]:
df["Qty"]=df["Qty"].str.replace(",","").astype(int)

In [79]:
df["Sales"]=df["Sales"].str.replace(",","").astype(int)

In [80]:
df["Month"]=pd.to_datetime(df["Month"],format="%d-%b-%y")
# df["Month"].dt.strftime("%B")

In [81]:
df["Date"]=df["Month"]
df["Month"]=df["Month"].dt.strftime("%B")

## Question 1

In [82]:
# Monthwise number of quantities sold
q1=df.groupby("Month")["Qty"].sum().reset_index()
q1

      Month    Qty
0  December  85427
1  February  76393
2   January  67732
3     March  80229

## Question 2

In [83]:
# Category wise Qty sold
q2=df.groupby("Category")["Qty"].sum().reset_index()
q2

               Category     Qty
0  Functional nutrition   42354
1     Gourmet Nutrition   89279
2                Juices  178148

## Question 3

In [84]:
# Sub-channel wise total sales
q3=df.groupby("Sub-Channels")["Sales"].sum().reset_index()
q3

         Sub-Channels     Sales
0              AMAZON  35606804
1          Big Basket   1207522
2                 D2C  28047538
3            Flipkart   3770415
4               GOQII    582600
5   Offline - Central    375332
6      Offline - East    811146
7        Offline - MT   6257948
8     Offline - South   3446395
9      Offline - West   6441427
10     Offline -North   1206564

## Question 4

In [92]:
# Highest sale in which month
# q4=df.groupby("Month")["Sales"].sum().idxmax()
# type(df.groupby("Month")["Sales"].sum().reset_index().sort_values(by="Sales",ascending=False).iloc[0])
q4=df.groupby("Month")["Sales"].sum().reset_index().sort_values(by="Sales",ascending=False).iloc[0]
q4

Month       March
Sales    25127827
Name: 3, dtype: object

In [93]:
# Question 5 approach
# Highest selling product (based on sales) (packaging quantity doesn't matter. Ex. consider "GET SLIM
# JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)

# Treating all products as different, the quantities are different so the products are treated as different.
# df.groupby("Product Name")["Sales"].sum().idxmax()
# df.groupby("Product Name")["Sales"].sum().sort_values().reset_index().sort_values(by="Sales").iloc[0:1,:]

# Treating the products as similar even if the quantities are different

### Converting the products into quantity independent columns

In [94]:
def quantity_omission(st):
    new_st=""
    for i in st:
        if i in string.digits:
            return new_st
        else:
            new_st=new_st+i

In [95]:
# df["Product Name"].apply(quantity_omission).reset_index().groupby("Product Name").count()
# df["Product Name"].apply(quantity_omission).reset_index().groupby("Product Name").count().sum()
# df[df["Product Name"]=="ALOE VERA SKIN GEL 500 GM"].shape[0]

In [96]:
df["Product Name_Clean"]=df["Product Name"].apply(quantity_omission)
df.head(3)

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales,Date,Product Name_Clean
0,December,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116,428700,2020-12-01,ALOE + AMLA JUICE
1,December,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003,1374831,2020-12-01,ALOE + GARCINIA JUICE
2,December,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962,732167,2020-12-01,ALOE VERA JUICE

## Question 5

In [97]:
# Highest selling product (based on sales) (packaging quantity doesn't matter. Ex. consider "GET SLIM
# JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)
# df.groupby("Product Name_Clean")["Sales"].sum().idxmax()
# df.groupby("Product Name_Clean")["Sales"].sum().reset_index().sort_values(by="Sales").iloc[-1]
q5=df.groupby("Product Name_Clean")["Sales"].sum().reset_index().sort_values(by="Sales",ascending=False).iloc[0:1]
q5

       Product Name_Clean     Sales
1  ALOE + GARCINIA JUICE   12249252

## Question 6

In [98]:
# List of different products company is offering (packaging quantity doesn't matter. Ex. consider "GET
# SLIM JUICE 1 L" and "GET SLIM JUICE 500 ML" as one product)
q6=df["Product Name_Clean"].unique()
q6=pd.DataFrame(q6,columns=["Unique_Products"])
q6

                    Unique_Products
0                ALOE + AMLA JUICE
1            ALOE + GARCINIA JUICE
2                  ALOE VERA JUICE
3               ALOE VERA SKIN GEL
4                       NEEM JUICE
5                       NONI JUICE
6           SLIM SHAKE - CHOCOLATE
7               SLIM SHAKE - MANGO
8                   TRIPHALA JUICE
9                TULSI GILOY JUICE
10               WHEAT GRASS JUICE
11                      AMLA JUICE
12                  GET SLIM JUICE
13                    HIMALAYA OIL
14                 VIGOR MAX JUICE
15          ORGANIC JAGGERY POWDER
16              APPLE CIDER VINEGAR
17              VIRGIN COCONUT OIL
18              KARELA JAMUN JUICE
19    MASALA SUPERGRAIN MIX ENERGY
20  MASALA SUPERGRAIN MIX IMMUNITY
21              AMLA + GILOY JUICE
22                  DIA FREE JUICE
23               IMMUNE CARE JUICE
24                 ORGANIC GULKAND
25       VEGAN PROTEIN - CHOCOLATE
26               GET SLIM CAPSULES
27              RAW HONEY ( MADHU)

## Question 7

In [106]:
# Create a single excel file to save all the outputs generated above in different subsheets.
# "q1" in locals()
# locals()["q1"]
with pd.ExcelWriter("AnswerFMCG.xlsx") as writer:
    for i in range(1,7):
        var="q"+str(i)
        # print(type(locals()[var]))
        locals()[var].to_excel(writer,sheet_name=f"Ques{i}",index=False)
writer.close()

C:\Users\aksha\anaconda3\Lib\site-packages\xlsxwriter\workbook.py:369: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")