In [83]:
import pandas as pd
import numpy as np
from datetime import date, timedelta

In [2]:
df=pd.read_excel("vaccine_data.xlsx")

In [51]:
df

,userid,name,1st dose status,date of 1st dose,2nd dose status,date of 2nd dose
0,p001,Chandler,yes,2021-12-30,yes,2022-03-30
1,p002,Joey,yes,2023-01-12,no,NaT
2,p003,Monica,yes,2022-03-15,yes,2022-06-23
3,p004,Rachel,yes,2022-02-17,no,NaT
4,p005,Pheobe,yes,2022-01-18,yes,2022-05-08
5,p006,Jenny,yes,2022-04-21,yes,2022-08-04
6,p007,Mike,yes,2022-03-17,no,NaT
7,p008,Harvey,yes,2022-01-18,yes,2022-04-28
8,p009,Ted,yes,2021-12-15,yes,2022-04-24
9,p010,Barney,no,NaT,no,NaT
10,p011,Robin,no,NaT,no,NaT
11,p012,Lily,no,NaT,no,NaT
12,p013,Marshal,yes,2022-02-19,yes,2022-07-19
13,p014,Kathie,yes,2022-02-10,yes,2022-05-31
14,p015,Daniel,no,NaT,no,NaT
15,p016,Jessica,no,NaT,no,NaT
16,p017,Amanda,no,NaT,no,NaT
17,p018,Steve,yes,2022-12-12,no,NaT
18,p019,Tony,yes,2022-01-27,yes,2022-05-02
19,p020,Donna,yes,2022-04-02,no,NaT

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   userid            20 non-null     object
 1   name              20 non-null     object
 2   1st dose status   20 non-null     object
 3   date of 1st dose  14 non-null     datetime64[ns]
 4   2nd dose status   20 non-null     object
 5   date of 2nd dose  9 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(4)
memory usage: 1.1+ KB

In [171]:
username="akshat"
password="av1234"
# un_input=input("Enter username: ")
# pwd_input=input("Enter password: ")
# if un_input==username and pwd_input==password:
#     print("You have successfully logged in.")
    
#     get_userinfo(uid)
# else:
#     print("You have entered wrong username or password.")
uid="p018"
get_userinfo(uid)

You have taken your first dose on 12-12-2022 , please take your 2nd dose at earliest.

In [169]:
def get_userinfo(uid):
    userframe=df[df["userid"]==uid]
    
    if userframe["1st dose status"].iloc[0]=="yes" and userframe["2nd dose status"].iloc[0]=="yes":
        print ("Hello",userframe["name"].iloc[0],"! You are fully vaccinated")
        
    elif userframe["1st dose status"].iloc[0]=="no" and userframe["2nd dose status"].iloc[0]=="no":
        print("Please take your first dose at earliest",userframe["name"].iloc[0],"!")
    
    else:
        if (date.today()-userframe["date of 1st dose"].dt.date.iloc[0]).days > 90 :
            print("You have taken your first dose on" , userframe["date of 1st dose"].dt.date.iloc[0].strftime("%d-%m-%Y") , ", please take your 2nd dose at earliest.")
        else:
            print("You have taken your first dose on" , userframe["date of 1st dose"].dt.date.iloc[0].strftime("%d-%m-%Y") , ", please take your 2nd dose on or after", (userframe["date of 1st dose"].dt.date.iloc[0] + timedelta(9)).strftime("%d-%m-%Y") )

In [40]:
df[df["userid"]=="p007"]["1st dose status"].iloc[0]
df[df["userid"]=="p007"]["2nd dose status"].iloc[0]

'no'

In [49]:
df.head(3)

,userid,name,1st dose status,date of 1st dose,2nd dose status,date of 2nd dose
0,p001,Chandler,yes,2021-12-30,yes,2022-03-30
1,p002,Joey,yes,2023-01-12,no,NaT
2,p003,Monica,yes,2022-03-15,yes,2022-06-23

In [78]:
a=df["date of 1st dose"].loc[8] - df["date of 2nd dose"].loc[8]
a.days

-130

In [82]:
abs((df["date of 1st dose"].dt.date-df["date of 2nd dose"].dt.date).loc[0].days)

90

In [94]:
df["date of 1st dose"].dt.date.loc[1]

datetime.date(2023, 1, 12)

In [134]:
userframe=df[df["userid"]=="p001"]
userframe["date of 1st dose"].dt.date.iloc[0].strftime("%d-%m-%Y")

'30-12-2021'

In [172]:
userframe=df[df["userid"]=="p018"]
(userframe["date of 1st dose"].dt.date.iloc[0] + timedelta(9)).strftime("%d-%m-%Y")

'21-12-2022'

In [167]:
userframe["date of 1st dose"].dt.date.iloc[0]

datetime.date(2022, 12, 12)

In [176]:
a=df["date of 1st dose"].loc[8] - df["date of 2nd dose"].loc[8]
a

Timedelta('-130 days +00:00:00')